{{/* The featured image, using the same rules as what the twitter cards use. */}}
{{- with $.Params.images -}}
    {{- index . 0 | absURL -}}
    {{- warnf "using params.image" -}}
{{- else -}}
    {{- $images := $.Resources.ByType "image" -}}
    {{- $featured := $images.GetMatch "*feature*" -}}
    {{- $featured := cond (ne $featured nil) $featured ($images.GetMatch "{*cover*,*thumbnail*}") -}}
    {{- if $featured -}}
        {{/* Resize to two different target sizes, trying to keep file under 1MB */}}
        {{- $resized := $featured -}}
        {{- if gt (len $resized.Content) 1000000 -}}
            {{- $resized = $featured.Fit "1304x1304 q95" -}}
        {{- end -}}
        {{- if gt (len $resized.Content) 1000000 -}}
            {{- $resized = $featured.Fit "652x652 q95" -}}
        {{- end -}}
        {{- $resized.Permalink -}}
    {{- else -}}
        {{- with $.Site.Params.images -}}
            {{- index . 0 | absURL -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
