{{ $section := index . "section"}}
{{ $section_title := index . "section_title"}}
{{ $content := index . "content"}}

{{- if not (and $content $section) -}}
    {{ errorf "Partial used wrong, ensure that the arg has keys named section and content."}}
{{- end -}}

<div class="sidepull-container">
    {{ with $content }}
    <div class="sidepull-side">
        {{ . }}
    </div>
    {{ end }}
    <div class="sidepull-main">
        {{ with $section_title }}
            <h1 class="sidepull-not-when-sidebar-shown" style="margin-bottom: 1em">{{.}}</h2>
        {{ end }}
        <ul id="list" class="list-unstyled list-of-titles">
        {{ range $section.Data.Pages.ByDate.Reverse }}
        {{- if .Param "mostlyHidden" -}}
          {{- continue -}}
        {{- end -}}
        <li class="{{if .Draft }}draft{{ end }}">
            <a href="{{ .RelPermalink}}">
            <span class="post-title">{{ .Title }}</span>
            <br>
            <span class="post-meta">{{ .Date.Format "January 2, 2006" }}</span>
            <br>
            <span class="post-meta">
                {{ range .Params.tags }}
                #{{ . }}&nbsp;
                {{ end }}
            </span>
            </a>
        </li>
        {{ end }}
        </ul>
    </div>
</div>
