{{/*
  This is a modified copy/paste of tpl/tplimpl/embedded/templates/_partials/twitter_cards.html
  last update from 83cfdd7 on 2025-08-23.
  Key change is that if the image comes from the site images, we show the small card.
*/}}

{{- $images := partial "_funcs/get-page-images" . }}
{{- with index $images 0 }}
  {{- $firstSiteImage := index site.Params.images 0 -}}
  {{/*
    if the first image comes from the site, then use a small card
    (don't focus on image content if it's not central to the article)

    I actually don't know if this works?? But if it doesn't, the stakes are
    pretty low; it'll just show the large card when it shouldn't 🤷‍♀️
  */}}
  {{- if or (eq $firstSiteImage .Permalink) (eq $firstSiteImage .RelPermalink) -}}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ .Permalink }}">
  {{- else -}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ .Permalink }}">
  {{- end -}}
{{- else }}
  <meta name="twitter:card" content="summary">
{{- end }}

{{- with or .Title site.Title site.Params.title | plainify }}
  <meta name="twitter:title" content="{{ . }}">
{{- end }}

{{- with or .Description .Summary site.Params.description | plainify | htmlUnescape }}
  <meta name="twitter:description" content="{{ trim . "\n\r\t " }}">
{{- end }}

{{- $twitterSite := "" }}
{{- with site.Params.social }}
  {{- if reflect.IsMap . }}
    {{- with .twitter }}
      {{- $content := . }}
      {{- if not (strings.HasPrefix . "@") }}
        {{- $content = printf "@%v" . }}
      {{- end }}
      <meta name="twitter:site" content="{{ $content }}">
    {{- end }}
  {{- end }}
{{- end }}
