{{ define "content" }}
<section id="main" class="content-container article-pad-v">
  <h1 id="title" style="margin-bottom: 0.75em">{{.Title}}</h1>
  <div class="sidepull-container">
    {{ with .Content }}
    {{/* TODO: sidepull needs to have CSS breakpoints / inlining */}}
    <div class="sidepull-side">
      {{ . }}
    </div>
    {{ end }}
    <div class="sidepull-main">
      <ul id="list" class="list-unstyled list-of-titles">
        {{ range .Data.Pages.ByDate.Reverse }}
        {{- if .Param "mostlyHidden" -}}
          {{- continue -}}
        {{- end -}}
        <li class="{{if .Draft }}draft{{ end }}">
          <a href="{{ .RelPermalink}}">
            <span class="post-title">{{ .Title }}</span>
            <br>
            <span class="post-meta">{{ .Date.Format "January 2, 2006" }}</span>
            <br>
            <span class="post-meta">
              {{ range .Params.tags }}
                #{{ . }}&nbsp;
              {{ end }}
            </span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>
{{ end }}
